.footer
  .dark-pink-block#pink-chunk
    img.kitty(src="/images/kitty.png")
    .footer-text.hideMe#foot-text
      .p 
        p Find us on socials! 
        p #[strong @acoupleofcoolcats]
        p #[strong @catsinaction]
      .p 
        p Interested in adoption? We have kittens looking for permanent homes! For more info, contact adoption@thecoolcatcafe.com.
        p © Centennial Graphics Club 2020
      .p 
        p Catering: info@thecoolcatcafe.com
        p Donations: charity@thecoolcatcafe.com
  .orange-block#orange-chunk
