.header.sticky.spin#navbar
  .logo-container
    a(href="index.pug")
      img.logo(src='/images/logo2.png')#logo
  .purple-block
    a(href="index.pug")
      p.title The Cool Cat CafÉ
  .cream-block
    .link-container
    each link in links
      - let [name, url] = link;
      a.nav-links(class={'is-active': page === name}, href=url) #{name}


        
