
/* All Colors (Please Use Variables) */
:root {
  --dark-purple: #450979;
  --dark-pink: #bf2945;
  --orange: #ffad5b;
  --cream: #ffedda;
  --light-pink: #e8b9c2;
  --light-purple: #bca2d2;
}

/* for all pages */
.content-container {
  width: 1000px;
  margin: auto;
  margin-top: 202px;
  margin-bottom: 225px;
}

p, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--cream);
  margin: 0
}

/*nav and header style */
.logo {
  width: 80px;
  position: absolute;
  margin-top: -1.5rem;
  margin-left: 15rem;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  background-color: var(--cream);
  border: 10px var(--orange) solid;
  transform: rotate(-7deg) scale(1.2);
  transition-duration: 1s;
  transform-origin: top;
}

.purple-block {
  background-color: var(--dark-purple);
  color: var(--cream);
  height: 14rem;
  margin-top: -10rem;
}

p.title {
  margin-top: 0;
  color: var(--cream);
  text-decoration: none;
  font-family: 'Notable';
  font-size: 48px;
  padding-top: 9.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

a.nav-links {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 3rem;
  padding-right: 3rem;
}

a.nav-links.is-active {
  background-color: #D5BEEA;
}

a.nav-links:hover {
  background-image: url('/images/nav-active.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 120px;
}

a.nav-links:active {
  color: var(--dark-purple);
}

.cream-block {
  border-bottom: 10px var(--dark-purple) solid;
  padding-top: .2rem;
  padding-bottom: .2rem;
  background-color: var(--cream);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.link-container {
}

.header {
  transform: rotate(7deg);
  transform-origin: top left;
  transition-duration: 1s;
  width: 120%;
}

/* nav transitions */
.header.spin-back {
  transform: rotate(0deg);
  transform-origin: top left;
  transition-duration: .5s;
  margin-top: 2rem;
}

#logo.logo-spin-back {
  transform: rotate(0deg) scale(1);
  transition-duration: .5s;
  border: 10px var(--cream) solid;
  background-color: var(--orange);
}

/* footer styling yay */
.footer {
  height: 9rem;
  bottom: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  clear: both;
  display: table;
}

.dark-pink-block {
  background-color: var(--dark-pink);
  height: 9rem;
  transform: rotate(7deg);
  transform-origin: top left;
  transition-duration: .5s;
  z-index: 0;
  position: relative;
}

.dark-pink-block.pink-straighten {
  transform: rotate(0deg);
  transform-origin: top left;
  transition-duration: .5s;
}

.footer-text {
  color: var(--cream);
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.footer-text p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer-text.hideMe {
  display: none;
  transition: 1s;
}

.orange-block {
  background-color: var(--orange);
  height: 5rem;
  margin-top: -5rem;
  position: relative;
  z-index: 4;
  transform: rotate(-7deg);
  transform-origin: top right;
  transition-duration: .5s;
}

.orange-block.orange-straighten {
  transform: rotate(0deg);
  transform-origin: bottom right;
  transition-duration: .5s;
  height: 2rem;
  margin-top: 0;
}

.kitty {
  position: relative;
  top: -60px;
  left: 40px;
  width: 120px;
}

/* HOME PAGE STYLING */



/* MENU PAGE STYLING */



/* ABOUT PAGE STYLING */



/* ALL RESPONSIVE STYLING */

@media only screen and (max-width: 200px) {

}

@media only screen and (min-width: 200px) {
  img.logo  {
    width: 80px;
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    background-color: var(--cream);
    border: 10px var(--orange) solid;
    margin: 0;
  }
  .logo-container {
    width: 100%;
    background-color: var(--dark-purple);
    margin: 0;
  }
  .purple-block {
    background-color: var(--dark-purple);
    color: var(--cream);
    height: 8rem;
    margin: 0;
  }
  .content-container {
    width: 180px;
  }
  a.nav-links {
    font-size: 16px;
  }
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 769px) {

}

@media only screen and (min-width: 1024px) {
  .logo, img.logo {
    width: 80px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 15rem;
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    background-color: var(--cream);
    border: 10px var(--orange) solid;
    transform: rotate(-7deg) scale(1.2);
    transition-duration: 1s;
    transform-origin: top;
  }
  a.nav-links {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .purple-block {
    background-color: var(--dark-purple);
    color: var(--cream);
    height: 14rem;
    margin-top: -10rem;
  }
  .content-container {
    width: 1000px;
    margin: auto;
    margin-top: 202px;
    margin-bottom: 225px;
  }

}
