extends templates/page.pug

block prepend header
  - const page = "About";

block content
  .test-about1and2
    .test-about1
      p We are a litter dedicated to providing only the finest feline dining in town! Located in a cozy little corner of Ellicatt City, we’re committed to our clawsome prices, phenomeownal atmosphere, and purrty kitties. Throughout the years, we’ve earned honors such as the Award of Immense Coolness and the Certificat of Absolute Purrfection. You’ll want to come give us a visit right meow!
    .test-about2
      img(src='/images/owner.png', alt='Italian Trulli')
  .test-about1and2.second
    .test-about3
      hr.quote-border
      p.quote-text "Furociously tasty and impawssibly splendid!"
      hr.quote-border
    .test-about4
      p The Cool Cat Café has been the home of premiere catty cuisine since our establishment in 1600. Our founder, Dave (who is definitely not several cats stacked on top of each other in a suspiciously long trench coat, no matter what the rumors say—uh, we mean, who is one metaphorically cool cat), has purrsonally paw-picked the menu to be furociously tasty and the decor to be impawssibly splendid.
  .test-about5
    p Thank you to the Centennial Graphics Club for designing our website!
