extends templates/page.pug

block prepend header
  - const page = "Home";

block content
  pre 
  pre 
  p Hi there, stranger! If you’re looking for a spot of sunlight to rest and relax for a moment, you’ve come to the right place. Settle in, and get ready for some next level tea, coffee, and vibes. 
  p We’re not kitten about our drinks.
  pre 
  img(src='/images/index-placeholder.png' alt='Italian Trulli')
  pre 
  pre 
  p Monday			11AM-8PM
  p Tuesday			11AM-8PM
  p Wednesday			11AM-8PM
  p Thursday			11AM-8PM
  p Friday			10AM-10PM
  p Saturday			10AM-10PM
  p Sunday			10AM-7PM