extends templates/page.pug

block prepend header

  - const page = "Menu";

block outside-container-content
  .menu-container
    .coffees
      .cof.m-text
        p COFFEES
      .cof.m-line
        hr.c-line
    .cof.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Black Clawfee
          p Catfé au Lait
          p Clatte
          p Catpurrccino
          p Espurresso
          p Ameowricano
        .prices
          p S $1.5 M $1.85 L $2.1
          p S $1.5 M $1.85 L $2.1
          p S $2.85 M $3.25 L $3.5
          p S $2.65 M $3.1 L $3.35
          p S $1.35 L $2
          p S $1.35 L $2
    .teas
      .tea.m-line
        hr.c-line
      .tea.m-text
        p TEAS
    .tea.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Meowcha
          p Chai Tea Latte
          p Purrl Gray Tea
          p Honey Jasmewn Tea
          p Peachyhisst Mint Tea
        .prices
          p S $3.15 M $3.65 L $4.15
          p S $3 M $3.35 L $3.75
          p S $2.15 M $2.75 L $2.95
          p S $2.15 M $2.75 L $2.95
          p S $2.35 M $3 L $3.5
    .coffees
      .cof.m-text.-S
        p SWEETS
      .cof.m-line.-S
        hr.c-line
    .cof.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Affogato
          p Cheesecake
          p Crème Brûlée
          p Lemon Tart
        .prices
          p $3.85
          p $4.5
          p $4
          p $3.85
    .teas
      .tea.m-line#CS
        hr.c-line
      .tea.m-text#CStxt
        p COLD CUTS
    .tea.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Cranberry-Walnut Chicken
          p Smoked Salmon and Egg Croissant
          p Cobb Salad
          p Muffuletta
          p Chicken Caesar Wrap
        .prices
          p $4.15
          p $4.85
          p $4.85
          p $4.5
          p $3.5
    .coffees
      .cof.m-text#HStxt
        p HOT CUTS
      .cof.m-line#HS
        hr.c-line
    .cof.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Cuban
          p Mojito Pulled Pork
          p Philly Cheese
          p Bistro Turkey
          p Meatball Sub
        .prices
          p $4.5
          p $4.5
          p $4.5
          p $4.1
          p $3.85
    .teas
      .tea.m-line#S
        hr.c-line
      .tea.m-text#Stxt
        p COLD CUTS
    .tea.m-content
      img(src="/images/toplogo.png")
      .items-and-prices
        .drinks
          p Cranberry-Walnut Chicken
          p Smoked Salmon and Egg Croissant
          p Cobb Salad
          p Muffuletta
          p Chicken Caesar Wrap
        .prices
          p $4.15
          p $4.85
          p $4.85
          p $4.5
          p $3.5
          
      