extends templates/page.pug

block prepend header

  - const page = "Menu";

block outside-container-content
  .menu-container
    .coffees.orange
      .m-text
        p COFFEES
      .m-line
        hr
    .cof.m-content
      img(src="/images/catpurrcino.jpeg")
      .items-and-prices
        .drinks
          p Black Clawfee
          p Catfé au Lait
          p Clatte
          p Catpurrccino
          p Espurresso
          p Ameowricano
        .prices
          p $1.5/$2.1
          p $1.5/$2.1
          p $2.85/$3.5
          p $2.65/$3.35
          p $1.35/$2
          p $1.35/$2
    .teas.purple
      .m-line
        hr.c-line
      .m-text
        p TEAS
    .tea.m-content
      img(src="/images/cheesecake and coffee.jpeg")
      .items-and-prices
        .drinks
          p Meowcha
          p Chai Tea Clatte
          p Purrl Gray Tea
          p Honey Jasmewn Tea
          p Peachyhisst Mint Tea
        .prices
          p $3.15/$4.15
          p $3/$3.75
          p $2.15/$2.95
          p $2.15/$2.95
          p $2.35/$3.5
    .coffees.pink
      .m-text.-S
        p SWEETS
      .m-line.-S
        hr
    .cof.m-content
      img(src="/images/sweets.png")
      .items-and-prices
        .drinks
          p Affogato
          p Cheesecake
          p Crème Brûlée
          p Lemon Tart
        .prices
          p $3.85
          p $4.5
          p $4
          p $3.85
    .teas.orange
      .m-line
        hr
      .m-text
        p COLD CUTS
    .tea.m-content
      img(src="/images/cold-sandwiches.png")
      .items-and-prices
        .drinks
          p Cranberry-Walnut Chicken
          p Smoked Salmon and Egg Croissant
          p Cobb Salad
          p Muffuletta
          p Chicken Caesar Wrap
        .prices
          p $4.15
          p $4.85
          p $4.85
          p $4.5
          p $3.5
    .coffees.purple
      .m-text
        p HOT CUTS
      .m-line
        hr
    .cof.m-content
      img(src="/images/hot cuts.png")
      .items-and-prices
        .drinks
          p Cuban
          p Mojito Pulled Pork
          p Philly Cheese
          p Bistro Turkey
          p Meatball Sub
        .prices
          p $4.5
          p $4.5
          p $4.5
          p $4.1
          p $3.85
    .teas.pink
      .m-line
        hr
      .m-text
        p SOUPS
    .tea.m-content
      img(src="/images/soups.png")
      .items-and-prices
        .drinks
          p Clowder Chowder
          p Onion Bisque
          p Tomato
        .prices
          p $4.5
          p $4.5
          p $3.5
          
      
